@model IEnumerable<BloodTypes.Core.Models.HostNode>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IpAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Port)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datacenter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rack)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsUp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IpAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datacenter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsUp)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
